{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "flowtype"],
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
